<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css">
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
        <h2 class="text-2xl font-semibold mb-4">Cargar Imagen</h2>
        <form action="/imagen" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="imagen" class="block text-gray-700 font-medium mb-2">Seleccionar imagen:</label>
                <input type="file" name="imagen" id="imagen" class="w-full py-2 px-4 rounded-md border border-gray-300">
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">Enviar Imagen</button>
        </form>
    </div>
</body>
