<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrador de fondos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
      .drop-zone {
        border-color: #ccc;
      }

      .drop-zone.dragover {
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body class="bg-gray-100 h-screen flex justify-center items-center">
    <div id="dropZone" class="drop-zone border-2 border-dashed p-10 w-3/4 h-3/4 flex flex-col justify-center items-center cursor-pointer">
      <h1 class="text-4xl font-bold mb-4">Arrastra aqui una imagen para borrarle el fondo usando IA</h1>
      <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <input id="fileInput" type="file" name="file" class="hidden" multiple>
        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition duration-300" onclick="fileInput.click()">Seleccionar archivo</button>
        <button type="submit" class="mt-4 bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-600 transition duration-300">Borrar fondo</button>
      </form>
    </div>

    <script>
      let dropZone = document.getElementById("dropZone");
      let fileInput = document.getElementById("fileInput");
      let uploadForm = document.getElementById("uploadForm");

      dropZone.addEventListener("click", function () {
        fileInput.click();
      });

      fileInput.addEventListener("change", function () {
        if (fileInput.files.length > 0) {
          uploadForm.submit();
        }
      });

      dropZone.addEventListener("dragover", function (e) {
        this.classList.add("dragover");
      });

      dropZone.addEventListener("dragleave", function (e) {
        this.classList.remove("dragover");
      });

      dropZone.addEventListener("drop", function (e) {
        e.preventDefault();
        e.stopPropagation();
        this.classList.remove("dragover");

        let file = e.dataTransfer.files[0];
        fileInput.files = e.dataTransfer.files;
        uploadForm.submit();
      });
    </script>
  </body>
</html>
